@import "tailwindcss";
@import "./styles/theme.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: var(--color-background);
  color: var(--color-text);

  font-family: Inter, sans-serif;
}